@model IEnumerable<Projrct2EventManagement.Models.Feedback>

@{
    ViewBag.Title = "FeedBack";
}

<h2>FeedBack</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emailid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerFeedback)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emailid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerFeedback)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
      
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back to menu", "CustomerNavigate", "Customer")
</div>
